/*
 * CSS usado:
 *
 *    background-color: cor de fundo
 *    color: cor da fonte
 *    font-size: tamanho da fonte
 *    a:link: link antes de ser clicado
 *    a: visited: depois de ser clicado
 *    text-decoration: decoração do texto
 *    position: absolute: posição em que o elemento pode ser movido
 *    top: topo da página
 *    left: esquerda da página
 *    border-radius: arredondamento de borda
 *    padding: espaçamento entre elementos
 *    
 *
 */

body{
    background-color: #103E2E;
    color: white;
}

p{
    color: aquamarine;
    font-size: 20px;
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

button {
    border-radius: 5px;
}

#tabela {
    position: absolute;
    top: 10%;
    left: 0%;
    padding: 2px;
}

b {
    position: absolute;
    top: 0%;
    left: 5%;
}
