body{
    background-color: #103E2E;
    color: white;
}

p{
    color: aquamarine;
    font-size: 20px;
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

button {
    border-radius: 5px;
}

#tabela {
    position: absolute;
    top: 40%;
    right: 20%;
    padding: 2px;
}
