{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Second Page</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>
    <h1>Pagina Secundária</h1>
    <h1>Usando um pouco de:</h1>
    <img src="{% static 'images/html-css-js.png' %}" 
    alt="Logos de HTML(LETRAS H T M L embaixo de um 5) CSS(LETRAS C S S embaixo de um 3) e JS">
    <!-- em href é passado em forma de conversão {% codigo python %} para HTML -->
    <a href="{% url 'index' %}"><button>Index Page</button></a>
</body>
</html>